.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.title {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.descr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weathr__descr {
    font-weight: 600;
}