.audio__container {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    width: 100%;
}

.audio {
    background: transparent;
    color: #fff;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.btn {
    margin-right: 10px;
}

.progress {
    width: 100%;
}

.progressBar {
    width: 80%;
}

.time {
    margin: 0 20px;
}