
.audio__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio {
    background: gray;
    color: #fff;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    margin-left: 10px;
}

.progress {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.time {
    margin-right: 20px;
}