.audio__container {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    width: 100%;
}

.audio {
    background: transparent;
    color: #fff;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.volume {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume__input {
    max-width: 80px;
    height: 10px;
}

.volume__icon {
    fill: #fff;
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-left: 5px;
}

.btn {
    margin: 0 10px;
    background: transparent;
    border: none;
}

.progress {
    width: 100%;
}

.progressBar {
    /*  width: 80%; */
    flex: 1 2 auto;
}

.time {
    margin: 0 20px;
}



@media (max-width: 717px) {
    .time {
        margin: 0 5px;
    }

}