.App {
  text-align: center;
}


.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 10px;
  height: 20vh;
}