.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-top: 15px;
    font-size: 22px;
}

.text {}

.author {}

.reset {
    margin-top: 15px;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;

    &:hover {
        color: lightgray;
    }
}